@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@300&display=swap');

* {
  margin: 1.5%;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

h2 {
  background: linear-gradient(180deg, rgba(255,255,255,0) 65%, #7ba02c 65%);
  display: inline;
}

/* h2 {
  font-family: "Allura", sans-serif;
  font-size: 36px;
} */


/* HOME PAGE SLIDESHOW */


/* GALLERY PAGE */

.gallery-container-single-artpiece {
  max-width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.gallery-single-artpiece {
  max-width: 30%;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  margin: 1%;
  text-align: center;
}

.button {
  background-color: #2ba7cb;
  padding: 2% 3% 2% 3%;
  margin: 2%;
  color: #ffffff;
  border-radius: .15em;
  border-style: none;
}

.button:hover {
  background-color: #056f87;
}

.gallery-page-title {
  font-size: 1.6em;
  padding-top: 1em;
}

.gallery-page-artist {
  font-size: 1em;
  padding-bottom: 1em;
}

/* HOMEPAGE */

.home-page-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-page-child {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0% 1% 0% 1%;
}

/* ONE PIECE PAGE */

.single-container-single-artpiece {
  margin-top: 2%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: royalblue; */
}

.single-artpiece-drop-shadow {
  box-shadow: 5px 10px 8px #888888;

}

.single-artpiece-child {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.one-piece-buy-button {
  background-color: #2ba7cb;
  padding: 2% 3% 2% 3%;
  margin: 2%;
  color: #ffffff;
  border-radius: .15em;
  border-style: none;
  max-width: 16%;
  text-align: center;
}

.one-piece-buy-button:hover {
  background-color: #056f87;
}

.single-page-title {
  font-size: 1.6em;
  padding-top: 1em;
}

.single-page-artist {
  font-size: 1em;
}