@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&family=Lato:wght@300&display=swap");

* {
  margin: 1.5%;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* a:hover {
  color: #056f87;
} */

p {
  font-size: 1.25em;
}

ul {
  list-style-type: none;
}

h2 {
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #7ba02c 65%);
  display: inline-block;
  width: max-content;
}

/* HOME PAGE */

.art-share-text {
  padding-top: 3%;
  font-size: 3.1em;
  line-height: 1em;
}

.cursive {
  font-family: "Allura", sans-serif;
  font-size: 1.3em;
}

/* GALLERY PAGE */

.gallery-page-title {
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #7ba02c 65%);
  display: inline-block;
  width: max-content;
  margin-bottom: 2%;
}

.gallery-container-single-artpiece {
  max-width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.gallery-single-artpiece {
  max-width: 30%;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  margin: 1%;
  text-align: center;
}

.button {
  background-color: #2ba7cb;
  padding: 2% 3% 2% 3%;
  margin: 2%;
  color: #ffffff;
  border-radius: 0.15em;
  border-style: none;
}

.button:hover {
  background-color: #056f87;
  color: #ffffff;
}

.gallery-art-title {
  font-size: 1.6em;
  padding-top: 0.6em;
  line-height: 1.4em;
  padding-bottom: 0.3em;
}

.gallery-page-artist {
  font-size: 1em;
  padding-bottom: 1em;
}

/* HOMEPAGE */

.home-page-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-page-child {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0% 1% 0% 1%;
}

.home-page-button {
  background-color: #ffffff;
  padding: 2% 3% 2% 3%;
  margin: 0px;
  color: #000000;
  border-radius: 0.15em;
  border-style: black 1px solid;
  display: inline-flex;
  max-width: 24%;
}

.home-page-button:hover {
  background-color: #2ba7cb;
  color: white;
  font-weight: 500;
  border-style: none;
}

/* ONE PIECE PAGE */

.single-page-heading-title {
  font-size: 2.3em;
  text-align: center;
  padding: 0px;
}

.single-container-single-artpiece {
  margin-top: 2%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: royalblue; */
}

.single-artpiece-drop-shadow {
  box-shadow: 5px 10px 8px #888888;
}

.single-artpiece-child {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.one-piece-buy-button {
  background-color: #2ba7cb;
  padding: 2% 3% 2% 3%;
  margin: 2%;
  color: #ffffff;
  border-radius: 0.15em;
  border-style: none;
  max-width: 16%;
  text-align: center;
}

.one-piece-buy-button:hover {
  background-color: #056f87;
}

.single-page-title {
  font-size: 1.6em;
  padding: 0.4em 0em 0em 0em;
}

.single-page-artist .single-page-description {
  font-size: 1em;
}

/* SIGN UP / SIGN IN PAGES */

.sign-up-in-container {
  padding-top: 2em;
  width: 60%;
  height: 60%;
  display: flex;
  /* background-color: blueviolet; */
}

/* .sign-up-in-fields {
  background-color:blue;
  line-height: 2em;
} */

/* BUY CONFIRMATION PAGE */

.buy-confirmation-container {
  max-width: 50%;
  border: 2px solid gray;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5%;
  margin-top: 4%;
}

/* CREATE / EDIT CONTAINER */

.create-edit-container {
  max-width: 30%;
  background-color: #f1f1f1;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 1% 1% 2%;
  margin-top: 2%;
}

/* HISTORY PAGE */

.history-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2%;
}

.history-child {
  border-left: 2px solid black;
  padding: 0% 1%;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* background-color: blue; */
  width: 46%;
}

.history-painting-image {
  max-width: 50%;
}

.add-artwork-button {
  background-color: #2ba7cb;
  padding: 1%;
  color: #ffffff;
  border-radius: 0.15em;
  border-style: none;
  white-space: nowrap;
  text-align: center;
}

.button:hover {
  background-color: #056f87;
  color: #ffffff;
}
