.NavMain {
  background-color: transparent;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  /* padding: 20px; */
  height: 70px;
}

.gallery {
  padding-right: 7px;
}

.logout {
  margin-left: 30px;
}

.logout:hover {
  cursor: pointer;
}

/* .NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
} */

.logo-nav {
  max-width: 90px;
}

.NavMain h3:hover {
  color: #056f87;
}

@media screen and (max-width: 600px) {
  .logo-nav {
    max-width: 60px;
  }
  
}
